@model IEnumerable<Payroll.ViewModel.JobPositionViewModel>

@using Payroll.MVC.Security;
@using Payroll.Repository;
@{
    Layout = "";
}

<table class="table" id="data-list">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DepartmentCodeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobCodeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActivated)
            </th>
            @if (Request.IsAuthenticated)
            {
                var level = AccountRepo.GetAccessRight(SessionPersister.Username, "JobPosition");
                if (level.AccessLevel == "W")
                {
                    <th></th>
                }
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentCodeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobCodeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActivated)
                </td>
                @if (Request.IsAuthenticated)
                {
                    var level = AccountRepo.GetAccessRight(SessionPersister.Username, "JobPosition");
                    if (level.AccessLevel == "W")
                    {
                        <td>

                            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                            <button type="button" class="btn btn-sm btn-warning btn-Edit" data-id="@item.Id">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>

                            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                            <button type="button" class="btn btn-sm btn-danger btn-Delete" data-id="@item.Id">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>

                        </td>
                    }
                }
            </tr>
        }
    </tbody>



</table>

<script type="text/javascript">
    $("#data-list").DataTable();
</script>

@if (Request.IsAuthenticated)
{
    var level = AccountRepo.GetAccessRight(SessionPersister.Username, "JobPosition");
    if (level.AccessLevel == "W")
    {
        <script type="text/javascript">

            $(".btn-Edit").click(function () {
                //alert($(this).attr("data-id"));

                $.ajax({
                    url: '@Url.Action("Edit", "JobPosition")',
                    type: 'get',
                    data: { id: $(this).attr("data-id") },
                    success: function (result) {
                        $(".modal-body").html(result);
                        $(".modal-title").html("Edit Job Position");
                        $("#modal-Form").modal("show");
                    }
                })
            })

            $(".btn-Delete").click(function () {
                //alert($(this).attr("data-id"));

                $.ajax({
                    url: '@Url.Action("Delete", "JobPosition")',
                    type: 'get',
                    data: { id: $(this).attr("data-id") },
                    success: function (result) {
                        $(".modal-body").html(result);
                        $(".modal-title").html("Delete Job Position");
                        $("#modal-Form").modal("show");
                    }
                })
            })

        </script>

    }
}